<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <ul class="list-group">
        {{#each posts}}
            <li class="list-group-item">
                <div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
                <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                <div><small>{{this.author.username}}</small></div>
                <div class="d-flex">
                    <a href="/n/{{this.subreddit}}" class="ms-auto">{{this.subreddit}}</a>
                </div>
            </li>
        {{/each}}
    </ul>
  </div>
</div>