<div class="text-center my-4">
    <h1>{{this_user.username}}'s Profile</h1>
</div>

<div class="row mt-5">

    <div class="col-sm-5" id="users-posts">
        <h5 class="text-center">Posts</h5>
        {{#each posts}}
            <li class="list-group-item">
                <div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
                <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                <div class="d-flex">
                    <a href="/n/{{this.subreddit}}" class="ms-auto">{{this.subreddit}}</a>
                </div>
            </li>
        {{/each}}
    </div>

    <!-- TODO: Add in links to posts for comments -->
    <div class="col-sm-5 offset-sm-2" id="users-comments">
        <h5 class="text-center">Comments</h5>
        {{#each comments}}
            <li class="list-group-item">
                {{!-- <p>Part of {{}}</p> --}}
                <p>{{this.content}}</p>
                <div class="d-flex">
                    <p class="ms-auto">Posted on <a href="/posts/{{this.post._id}}">{{this.post.title}}</a> </p>
                </div>
            </li>
        {{/each}}
    </div>

</div>